
.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #dc3545; /* Bootstrap danger color */
    color: white;
}

.card-body {
    background-color: white;
    padding: 20px;
    border-top: 1px solid #dc3545;
}

.card-text {
    margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
      direction: rtl;
  text-align: right;
}
input, select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input[lang="fa"], select[lang="fa"] {
  direction: rtl;
  text-align: right;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
button:hover {
  background-color: #0056b3;
  transform: scale(1.01);
}

.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    transition: all 0.3s;
    /*padding: 20px;*/
    /*padding-left: 0px;*/
    padding-right: 20px;

    padding-top: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #383F51;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding-left: 20px;
  /* Toggle Sidebar Button */
  /* Search Bar */
}
.header .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: #012970;
}

.sidebar-nav {
    width: 250px;
    height: auto;
    background-color: #383F51; /* Dark modern color */
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#main {
    margin-top: 60px;
    transition: all 0.3s;
}

.pagetitle {
    margin-bottom: 10px;
}
#sidebar {
    /* Initially hidden sidebar */
    transform: translateX(-300px); /* Adjust to the width of your sidebar */
    transition: transform 0.3s ease;
}

#sidebar.show {
    /* Sidebar shown */
    transform: translateX(0);
}

.collapsible {
  background-color: #f1f1f1;
  color: #333;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 10px;
}
.active, .collapsible:hover {
  background-color: #ddd;
}
.content {
  padding: 10px 0;
  display: none;
  overflow: hidden;
  background-color: #f9f9f9;
}
.response {
  margin-top: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  white-space: pre-wrap;
}
#submitForm{
    margin-top: 10px;
}