
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addConditionModal">Add New Condition</button>
<!-- Add Condition Modal -->
<div class="modal fade" id="addConditionModal" tabindex="-1" aria-labelledby="addConditionModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form action="{{ url_for('API_Edit.edit_api', key=API_Name) }}" method="POST">
            <div class="modal-header">
                <h5 class="modal-title" id="addConditionModalLabel">Add New Condition</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <label for="newParameter" class="form-label">Parameter</label>
                            <input type="text" class="form-control" id="newParameter" name="Parameter">
                        </div>
                        <div class="col">
                            <label for="newName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="newName" name="Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="newOperator" class="form-label">Operator</label>
                            <select class="form-control" id="newOperator" name="Operator">
                            <!-- Options will be added dynamically by JS -->
                            </select>
                        </div>
                        <div class="col">
                            <label for="newColumn" class="form-label">Column</label>
                            <select class="form-control" id="newColumn" name="Column">
                                <!-- Options will be added dynamically by JS -->
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="newIgnoreIf" class="form-label">Ignore If</label>
                            <select class="form-control" id="newIgnoreIf" name="IgnoreIf">

                            </select>
                        </div>
                    </div>
<!--                    <div class="row">-->
<!--                        <div class="col">-->
<!--                            <input type="checkbox" class="form-check-input" id="substringCheck" name="substringCheck" onchange="toggleVisibility('substringOptions', this.checked)">-->
<!--                            <label class="form-check-label" for="substringCheck">Substring</label>-->
<!--                            <div id="substringOptions" style="display:none; padding-left:20px;">-->
<!--                                <input type="number" class="form-control mb-2" id="substringStart" name="substringStart" placeholder="Start index" >-->
<!--                                <input type="number" class="form-control" id= "substringLength" name="substringLength" placeholder="Length">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col">-->
<!--                            <input type="checkbox" class="form-check-input" id="replaceCheck" name="replaceCheck" onchange="toggleVisibility('replaceOptions', this.checked)">-->
<!--                            <label class="form-check-label" for="replaceCheck">Replace</label>-->
<!--                            <div id="replaceOptions" style="display:none; padding-left:20px;">-->
<!--                                <input type="text" class="form-control mb-2" name="replaceOld" placeholder="Old value" >-->
<!--                                <input type="text" class="form-control" name="replaceNew" placeholder="New value" >-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col">-->
<!--                            <input type="checkbox" class="form-check-input" id="castCheck"  name="castCheck" onchange="toggleVisibility('castOptions', this.checked)">-->
<!--                            <label class="form-check-label" for="castCheck">Cast</label>-->
<!--                            <div id="castOptions" style="display:none; padding-left:20px;">-->
<!--                                <select class="form-control" name="castOptions">-->
<!--                                    {% for opt in castOptions %}-->
<!--                                    <option value="{{ opt }}" >{{ opt }}</option>-->
<!--                                    {% endfor %}-->
<!--                                </select>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                            <div class="col">-->
<!--                                <input type="checkbox" class="form-check-input" id="trimCheck"  name="trimCheck" onchange="toggleVisibility('trimOptions', this.checked)">-->
<!--                                <label class="form-check-label" for="trimCheck">Trim</label>-->
<!--                                <div id="trimOptions" >-->
<!--                                    &lt;!&ndash; You can place additional settings related to trim here if necessary &ndash;&gt;-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="col">-->
<!--                                <label class="form-label">Dynamic Substring Options:</label>-->
<!--                                <button type="button" class="btn btn-primary" onclick="addSubstringOption()">Add Substring</button>-->
<!--                                <div id="dynamicSubstringContainer">-->
<!--                                    &lt;!&ndash; Substring entries will be added here dynamically &ndash;&gt;-->
<!--                                </div>-->

<!--                            </div>-->

<!--                        </div>-->
                </div>
                <script>
                    function toggleVisibility(id, show) {
                        document.getElementById(id).style.display = show ? 'block' : 'none';
                    }

                    function addSubstringOption() {
                        const container = document.getElementById('dynamicSubstringContainer');
                        const index = container.children.length + 1;  // Unique index for each entry
                        const html = `
                            <div class="substring-option" id="substring-${index}">
                                <input type="text" class="form-control mb-2" placeholder="Value Length" name="dynamicSubstringLength-${index}">
                                <input type="number" class="form-control mb-2" placeholder="Start Index" name="substringStartDynamic-${index}">
                                <input type="number" class="form-control mb-2" placeholder="Substring Length" name="substringLengthDynamic-${index}">
                                <button type="button" class="btn btn-danger" onclick="removeSubstringOption(${index})">Remove</button>
                            </div>
                        `;
                        container.insertAdjacentHTML('beforeend', html);
                    }
                    
                    function removeSubstringOption(index) {
                        const element = document.getElementById(`substring-${index}`);
                        element.remove();
                    }
                    
                </script>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-success" name="submit" value="Add Condition">
            </div>
        </form>
    </div>
</div>
</div>
<script>
    window.columsList = {{Column | tojson }}

</script>
<script src="{{ url_for('static', filename='js/conditionModal.js') }}"></script>
