<section class="left-docs">
    <dl class="row">
        <dt class="col-sm-3">Table Name:</dt>
        <dd class="col-sm-9">{{ TableName }}</dd>
        <dt class="col-sm-3">Order by:</dt>
        <dd class="col-sm-9">{{ OrderBy }}</dd>
        <dt class="col-sm-3">Order Type:</dt>
        <dd class="col-sm-9">{{ OrderType }}</dd>
        <dt class="col-sm-3">Last Update Table Name:</dt>
        <dd class="col-sm-9">{{ LastUpdateTableName }}</dd>
    </dl>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditApi">Edit API Properties</button>
    <hr class="border border-warning border-1" />
</section>
