<!DOCTYPE html>
<html lang="en">
   <head>
      <title>{% block title %}API Generator{% endblock %}</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/testApi.css') }}">

      <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/apiTest.js') }}" defer></script>

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
      <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
      <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
   </head>
   <body class="p-4">
      <header id="header" class="header fixed-top d-flex align-items-center">
         <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
         </div>
      </header>
      <aside id="sidebar" class="sidebar">
         <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
               <a class="nav-link collapsed" href="index.html">
               <i class="bi bi-grid"></i>
               <span>Dashboard</span>
               </a>
            </li>
         </ul>
      </aside>
      <main id="main" class="main">

<div class="container">
    <h2>Test API</h2>
    <form id="api-form">
      <!-- Identification Parameters Section -->
<!--      <button type="button" class="collapsible">Identification Parameters</button>-->
      <div class="content">
        <div class="input-group">
          <label for="acct_no">Account Number</label>
          <input type="text" name="acct_no" placeholder="Enter Account Number">
        </div>
        <div class="input-group">
          <label for="customer_no">Customer Number</label>
          <input type="text" name="customer_no" placeholder="Enter Customer Number">
        </div>
<!--         Add more fields as needed -->
<!--      </div>-->

      <!-- Date Parameters Section -->
<!--      <button type="button" class="collapsible">Date Parameters</button>-->
<!--      <div class="content">-->
<!--        <div class="input-group">-->
<!--          <label for="start_date">Start Date</label>-->
<!--          <input type="date" name="start_date">-->
<!--        </div>-->
<!--        <div class="input-group">-->
<!--          <label for="end_date">End Date</label>-->
<!--          <input type="date" name="end_date">-->
<!--        </div>-->
<!--        &lt;!&ndash; Add more date fields as needed &ndash;&gt;-->
<!--      </div>-->

<!--      &lt;!&ndash; Filter Parameters Section &ndash;&gt;-->
<!--      <button type="button" class="collapsible">Filter Parameters</button>-->
<!--      <div class="content">-->
<!--        <div class="input-group">-->
<!--          <label for="branch">Branch</label>-->
<!--          <select name="branch">-->
<!--            <option value="All">All</option>-->
<!--            <option value="Branch1">Branch 1</option>-->
<!--            <option value="Branch2">Branch 2</option>-->
<!--          </select>-->
<!--        </div>-->
<!--        &lt;!&ndash; Add more filter fields as needed &ndash;&gt;-->
<!--      </div>-->

      <button type="submit" id = "submitForm">Submit</button>
    </form>
    <div id="response" class="response"></div>
  </div>
      </main>
   </body>
</html>
<script>
   window.apiName = '{{key}}'
</script>