<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}API Generator{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</head>
<body class="p-4">
    {% include 'navbar.html' %}

    {% block content %}{% endblock %}

</body>
</html>
