<table class="table" id="condTable">
    <thead>
        <tr>
            <th scope="col">Parameter</th>
            <th scope="col">Column</th>
            <th scope="col"> Name </th>
            <th scope="col">Ignore If</th>
            <th scope="col">Operator</th>
            <th scope="col">Transformations</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<script>
    window.apiProp = {{api_prop | tojson}}
    window.Page_name = '{{Page_name}}'
</script>
<script src="{{ url_for('static', filename='js/conditionTable.js') }}"></script>