<div class="modal fade" id="editConditionModal" tabindex="-1" aria-labelledby="editConditionLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <form  id="editModal" method="post">
            <div class="modal-header">
               <h5 class="modal-title" id="editModalTitle"> </h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>
            <div class="modal-content">
               <div class="container">
                  <div class="container">
                     <div class="row">
                        <div class="col">
                           <label for="editParameter" class="form-label">Parameter</label>
                           <input type="text" class="form-control" id="editParameter" name="Parameter">
                        </div>
                        <div class="col">
                           <label for="editName" class="form-label">Name</label>
                           <input type="text" class="form-control" id="editName" name="Name">
                        </div>
                     </div>
                     <div class="row">
                        <div class="col">
                           <label for="editOperator" class="form-label">Operator</label>
                           <select class="form-control" id="editOperator" name="Operator">
                              <!-- Options will be added dynamically by JS -->
                           </select>
                        </div>
                        <div class="col">
                           <label for="editColumn" class="form-label">Column</label>
                           <select class="form-control" id="editColumn" name="Column">
                              <!-- Options will be added dynamically by JS -->
                           </select>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col">
                           <label for="editIgnoreIf" class="form-label">Ignore If</label>
                           <select class="form-control" id="editIgnoreIf" name="IgnoreIf">
                           </select>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col">
                           <input type="checkbox" class="form-check-input" id="substringCheck" name="substringCheck" onchange="toggleVisibility('substringOptions', this.checked)">
                           <label class="form-check-label" for="substringCheck">Substring</label>
                           <div id="substringOptions" style="display:none; padding-left:20px;">
                              <input type="number" class="form-control mb-2" id="substringStart" name="substringStart" placeholder="Start index" >
                              <input type="number" class="form-control" id= "substringLength" name="substringLength" placeholder="Length">
                           </div>
                        </div>
                        <div class="col">
                           <input type="checkbox" class="form-check-input" id="replaceCheck" name="replaceCheck" onchange="toggleVisibility('replaceOptions', this.checked)">
                           <label class="form-check-label" for="replaceCheck">Replace</label>
                           <div id="replaceOptions" style="display:none; padding-left:20px;">
                              <input type="text" class="form-control mb-2" name="replaceOld" placeholder="Old value" >
                              <input type="text" class="form-control" name="replaceedit" placeholder="edit value" >
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col">
                           <input type="checkbox" class="form-check-input" id="castCheck"  name="castCheck" >
                           <label class="form-check-label" for="cast-Options">Cast</label>
<!--                           <div id="cast" style="display:none; padding-left:20px;">-->
                           <select class="form-control" name="cast-Options" id="cast-Options">
<!--                                 {% for opt in castOptions %}-->
<!--                                 <option value="{{ opt }}" >{{ opt }}</option>-->
<!--                                 {% endfor %}-->
                           </select>
<!--                           </div>-->
                        </div>
                        <div class="col">
                           <input type="checkbox" class="form-check-input" id="trimCheck"  name="trimCheck" onchange="toggleVisibility('trimOptions', this.checked)">
                           <label class="form-check-label" for="trimCheck">Trim</label>
                           <div id="trimOptions" >
                              <!-- You can place additional settings related to trim here if necessary -->
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col">
                           <label class="form-label">Dynamic Substring Options:</label>
                           <button type="button" class="btn btn-primary"  id= "dynamicSubstring" onclick="addSubstringOption()">Add Substring</button>
                           <div id="dynamicSubstringContainer">
                              <!-- Substring entries will be added here dynamically -->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>