<nav class="navbar navbar-light bg-light shadow-sm bg-body rounded">
    <div class="container-fluid">
        <h3 class="navbar-brand">{{ Page_name or 'API Generator' }}</h3>

        {% if show_add_api %}
            <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#addApiModal">Add API</button>
        {% endif %}
        {% if show_search %}
            <form class="d-flex" method="POST" action="/search">
                <input class="form-control me-2" type="text" name="Search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        {% endif %}

        <div class="d-inline-flex ms-auto">
            <ul class="nav navbar-nav d-inline-flex">
                <li class="nav-item">
                    <ul class="list-inline mb-0">
                            {% if back_to_list %}
                                <li class="list-inline-item">
                                    <a href="{{ url_for('API_Builder.edit_api') }}" class="nav-link">
                                        <button type="button" class="btn btn-secondary btn-md">Back to List</button>
                                    </a>
                                </li>


                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>
